<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>.*\\TwoDrive\.BusinessLogic\.Test\.dll$</ModulePath>
                <ModulePath>.*\\TwoDrive\.DataAccess\.Tests\.dll$</ModulePath>
                <ModulePath>.*\\TwoDrive\.Importer\.Test\.dll$</ModulePath>
                <ModulePath>.*\\TwoDrive\.WebApi\.Test\.dll$</ModulePath>
                <ModulePath>.*\\automapper\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <Functions>
              <Exclude>
                <Function>.*\.Migrations\..*</Function>
                <Function>.*\.Helpers\..*</Function>
                <Function>.*\.Filters\..*</Function>
              </Exclude>
            </Functions>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
