<div class="main-div">
    <mat-card>
        <mat-card-title class="writer-title">Create Writer</mat-card-title>
        <form #writerForm="ngForm" (ngSubmit)="Create(writerForm)">
            <mat-card-content>
                <mat-form-field>
                    <input matInput id="username" name="username" placeholder="Username" required>
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput id="password" name="password" placeholder="Password" required>
                </mat-form-field>
    
                <div class="roles-radio-group">
                    <mat-label>Role: </mat-label>
                    <mat-radio-group  layout="row">
                        <mat-radio-button value="Administrator">Administrator</mat-radio-button>
                        <mat-radio-button value="Writer">Writer</mat-radio-button>
                    </mat-radio-group>
                </div>
    
                <div class="error">{{creationError}}</div>
            </mat-card-content>
            <mat-card-footer>
                <button mat-raised-button type="submit">Create</button>
            </mat-card-footer>
            <br>
        </form>
    </mat-card>
</div>

