mat-card-title{
    text-align: center;
}
mat-card-subtitle{
    text-align: left;
}
.container{
    width: 50%;
    box-align: left;
}
.container mat-form-field{
    display: inline-block;
    vertical-align: top;
}

.error{
    text-align: right;
    color: red;
}

.success{
    text-align: right;
    color: green;
}