table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .search-writers {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  
  .mat-elevation-z8{
    width: 100%;
  }
  
  #search-input{
    margin-bottom: 5px
  }
  
  #action{
    text-align: right;
  }
  
  #action-def{
    text-align: right;
  }
  
  mat-card-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
