<div class="search-writers">
    <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input id="search-input" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <mat-card-title class="writer-title">Share Element</mat-card-title>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.userName}} 
            </td>
            </ng-container>

            <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.role}} 
            </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef id="action-def" id="action"> Share </th>
                <td mat-cell *matCellDef="let element" class="action-link" id="action">
                    <a mat-button matTooltip="Share element" *ngIf="!element.hasClaimsForElement" (click)="shareElement(element)">
                        <span class="mat-button-wrapper">                        
                            <mat-icon>screen_share</mat-icon>
                        </span>
                    </a>
                    <a mat-button matTooltip="Stop sharing element" *ngIf="element.hasClaimsForElement" (click)="stopShareElement(element)">
                        <span class="mat-button-wrapper">
                            <mat-icon>stop_screen_share</mat-icon>
                        </span>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
</div>
